<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body style="height: 100%;position:relative;padding:0;margin:0">
    <nav>
        <ul style="list-style:none; display:flex; gap:50px; justify-content:center; margin:40px 0;">
            <li><a style="text-decoration:none;font-size:22px" href="/">Home</a></li>
            <li><a style="text-decoration:none;font-size:22px" href="/about">About</a></li>
            <li><a style="text-decoration:none;font-size:22px" href="/login">Sing In</a></li>
            <li><a style="text-decoration:none;font-size:22px" href="/logout">Sing Up</a></li>
            <li><a style="text-decoration:none;font-size:22px" href="/contact">Contact</a></li>
        </ul>
    </nav>
</body>
</html>